<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="freshworks_connector" frontName="freshworks_connector">
            <module name="Freshworks_MagentoConnector"/>
        </route>
    </router>
</config>
